
.icon-award:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-info:before { content: '\e803'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */